parameters:
    level: max
    paths:
        - bin
        - src
        - tests
    excludePaths:
      analyseAndScan:
        - bin/tcp-client.php
    ignoreErrors:
        - '#Parameter \#1 \$message of method S3\\Tunnel\\Shared\\Tcp\\Session\\EncryptedSession::encrypt\(\) expects object, mixed given.#'
        - '#Method S3\\Tunnel\\Shared\\Tcp\\Session\\EncryptedSession::decrypt\(\) should return object but returns mixed.#'
        - '#Method S3\\Tunnel\\Server\\Tcp\\ProcessManager::spawn\(\) should return int but returns mixed.#'
        - '#Parameter \#1 \$subdomain of static method S3\\Tunnel\\Server\\Tcp\\Request\\DispatchRequestMessageContext::get\(\) expects string, mixed given.#'
        - '#Parameter \$method of class Laminas\\Diactoros\\ServerRequest constructor expects string\|null, mixed given.#'
        - '#Cannot call method set\(\) on mixed.#'
        - '#Cannot call method on\(\) on mixed.#'
        - '#Cannot access offset ''mailbox'' on mixed.#'
        - '#Part \$pid \(mixed\) of encapsed string cannot be cast to string.#'
        - '#Method S3\\Tunnel\\Support\\Watch::startProcess\(\) should return int but returns mixed.#'
        - '#While loop condition is always true.#'
        - '#Parameter \#1 \$data of static method S3\\Tunnel\\Shared\\Tcp\\TcpPacker::unpack\(\) expects string, mixed given.#'
        - '#Method S3\\Tunnel\\Shared\\Logger\\Logger::log\(\) has parameter \$context with no value type specified in iterable type array.#'
        - '#Parameter \#1 \$name of static method Monolog\\Level::fromName\(\) expects#'
